<h1>Blogs on Blogs on Blogs </h1>

<div class="button">
  <%= link_to new_posts_path do %>
    Add New Post
  <% end %>
</div>


<% @posts.each do |post| %>

  <div class="post">
    <h2><%= post.title %></h2>
    <p><%= post.body %></p>
  </div>
<% end %>
